*,*::before,
*,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.125;
  color: $black;
  background-color: $white;
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.row {
  display: flex;
}

section {
  margin: 90px 0;
}

.title {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

.sub-title {
  position: relative;
  font-size: 48px;

  &:after {
    position: absolute;
    content: '';
    bottom: -35px;
    left: 40%;
    width: 55px;
    height: 2px;
    background-color: $black;
  }
}

.btn {
  display: inline-block;
  padding: 15px 42px;
  background: $black;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 30px;
  font-weight: 300;
  cursor: pointer;
  border: transparent;

  &:hover {
    background-color: $skin;
    color: $black;
    transition: 0.3s;
  }

  &:focus {
    outline: none;
  }

  &--white {
    background-color: $white;
    color: $black;
    border: 1px solid $gray;
  }

  &--white:hover {
    border: 1px solid $black;
    background-color: $white;
  }

}