.row-instagram {
  justify-content: center;
  padding: 0 5px;
}

.instagram__title {
  margin-bottom: 89px;
}

.instagram-slider {
  margin-bottom: 50px;
}

.instagram__button-block {
  text-align: center;

  .btn {
    padding: 15px 61px;
  }
}

.instagram__img {
  text-align: center;
}