.best-team-row {
  padding-bottom: 50px;
  justify-content: center;
}

.best-team {
  background: $wheat;
  padding: 86px 0 160px 0;
}

.best-team__item {
  text-align: center;
}

.best-item__img {
  margin-bottom: 20px;

  img {
    border-radius: 50%;
  }

}

.best-team__title {
  padding-bottom: 100px;
}

.best-team__sub-title {
  font-size: 40px;
}

.best-team .sub-title {
  padding-bottom: 35px;

  &:after {
    bottom: 15px;
    left: 42%;
  }
}

