.main-row {
  margin-bottom: 100px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablets {
    display: flex;
    flex-direction: column;
  }

  @include laptop {
    margin-bottom: 80px;
  }
}

.main__content-blog {
  margin-bottom: 51px;
}

.main__item {
  width: 50%;
  margin-right: 95px;

  &:last-child {
    margin-right: 0;
  }

  @include laptop {
    margin-right: 45px;
  }

  @include tablets {
    width: 100%;
    text-align: center;
  }
}

.main-blog__date {
  margin-bottom: 15px;
}

.main__title {
  text-align: center;
  margin-bottom: 90px;

  &--mt {
    margin-top: 80px;
  }
}

.main__span {
  font-size: 30px;
  font-weight: 300;
}

.main__sub-title .sub-title {
  padding-bottom: 60px;

  &:after {
    bottom: 45px;
    left: 0;

    @include tablets {
      left: 47%;
      bottom: 32px;
    }

    @include phones {
      padding-bottom: 30px;
    }
  }

}

.main__desc {
  font-size: 18px;
  color: $gray;
  font-weight: 300;
  margin-bottom: 50px;

  @include laptop {
    font-size: 17px;
  }

  @include phones {
    font-size: 15px;
  }
}

.main__item-img {
  @include tablets {
    margin-bottom: 20px;
  }
}


.main-item--order-second {

  @include laptop {
    order: 4;

    &:first-child {
      margin-right: 45px;
    }

  }

  @include tablets {
    order: 5;
  }

}

.main-blog_wrap {
  position: relative;
  margin-bottom: 45px;
  padding-bottom: 35px;

  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 55px;
    height: 2px;
    background-color: $black;

    @include tablets {
      display: none;
    }
  }

  .sub-title {
    padding-bottom: 12px;

    &::after {
      display: none;
    }
  }

  @include tablets {
    padding-bottom: 0;
    margin-bottom: 25px;
  }
}

.main-item--order-first {

  @include laptop {
    order: 5;
  }

  @include tablets {
    order: 4;
  }

  &:first-child {
    margin-right: 95px;
  }

}

.main__btn-blog {
  display: block;
  width: 170px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  text-align: center;
}