.best-work {
  padding-bottom: 50px;
}

.best-work__title {
  margin-bottom: 97px;
}

.best-work-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 17px;

  .best-work__item {
    width: calc(33% - 15px);
    margin-right: 15px;
    height: 364px;
    background: url("../img/best-work-img.jpg") no-repeat center/cover;

    &--big {
      height: 590px;
    }

    @include tablets {
      width: calc(50% - 10px);
      margin-right: 10px;
    }
    @include phones {
      width: 100%;
      margin-right: 0;
    }
  }
}

.best-work__item {
  margin-bottom: 30px;
}

.best-work__block {
  text-align: center;
}